wsServer/WebContent/WEB-INF/wsdl/LOGONNSF.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://10.200.14.110:3096/WebServices/LOGONNSF"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://10.200.14.110:3096/WebServices/LOGONNSF">
	<wsdl:types>
		<s:schema elementFormDefault="qualified"
			targetNamespace="http://10.200.14.110:3096/WebServices/LOGONNSF">
			<s:element name="Ejecutar">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="USUARIO"
							type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="PASSWORD"
							type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="NEWPASSWORD"
							type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="IP" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="FORZADO"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="EjecutarResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="EjecutarResult"
							type="tns:EjecutarResult" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="EjecutarResult">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="TRANID"
						type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="ESTATUS"
						type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="CODIGO"
						type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="MENSAJE"
						type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="NUMTASK"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="ResponseBansefi"
						type="tns:ArrayOfResponseBansefi" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfResponseBansefi">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ResponseBansefi"
						type="tns:ResponseBansefi" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ResponseBansefi">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="USUARIO"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="NOMBRE"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="ENTIDAD"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="CENTRO"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="VENTANILLA"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="PERFIL"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="APLICACION"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="NOMBREAPLICA"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="MENU" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="NOMBREMENU"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="VINCULAMENU"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="SUBMENU"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="NOMBRESUBMENU"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="VINCULASUBMENU"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="SUBSUBMENU"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="NOMBRESUBSUBMENU"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="VINCULASUBSUBMENU"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="FECSYS"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="REGION"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="EXPIRACION"
						type="s:integer" />
					<s:element minOccurs="0" maxOccurs="1" name="FRECUENTE"
						type="s:integer" />
				</s:sequence>
			</s:complexType>
			<s:element name="EjecutarResult" type="tns:EjecutarResult" />
		</s:schema>
	</wsdl:types>
	<wsdl:message name="EjecutarSoapIn">
		<wsdl:part name="parameters" element="tns:Ejecutar" />
	</wsdl:message>
	<wsdl:message name="EjecutarSoapOut">
		<wsdl:part name="parameters" element="tns:EjecutarResponse" />
	</wsdl:message>
	<wsdl:portType name="SoapPort">
		<wsdl:operation name="Ejecutar">
			<wsdl:input message="tns:EjecutarSoapIn" />
			<wsdl:output message="tns:EjecutarSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SoapBinding" type="tns:SoapPort">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Ejecutar">
			<soap:operation
				soapAction="http://10.200.14.110:3096/WebServices/LOGONNSF/Ejecutar"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LOGONNSF">
		<wsdl:port name="SoapPort" binding="tns:SoapBinding">
			<soap:address
				location="http://10.200.14.110:3096/WebServices/BANSEFI/LOGONNSF" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>