wsServer/WebContent/WEB-INF/wsdl/TR_CONSULTA_RP_PANT_TRN.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://BansefiNSS/WebServicesNSS/TR_CONSULTA_RP_PANT_TRN" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://BansefiNSS/WebServicesNSS/TR_CONSULTA_RP_PANT_TRN" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://BansefiNSS/WebServicesNSS/TR_CONSULTA_RP_PANT_TRN">
			<s:element name="Ejecutar">
				<s:complexType>
					<s:sequence>
						<s:element name="TR_CONSULTA_RP_PANT_TRN_I" nillable="false">
							<s:complexType mixed="false">
								<s:sequence>
									<s:element name="TR_CONSULTA_RP_PANT_EVT_Y" nillable="false">
										<s:complexType mixed="false">
											<s:sequence>
												<s:element name="RP_PERS_RL_AC_P" nillable="false">
													<s:complexType mixed="false">
														<s:sequence>
															<s:element name="COD_NRBE_EN" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:string">
																		<s:length value="0000000004"/>
																		<s:whiteSpace value="preserve"/>
																	</s:restriction>
																</s:simpleType>
															</s:element>
															<s:element name="ID_INTERNO_PE" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:integer">
																		<s:maxInclusive value="99999999"/>
																		<s:minInclusive value="0"/>
																	</s:restriction>
																</s:simpleType>
															</s:element>
															<s:element name="COD_RL_PERS_AC" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:string">
																		<s:length value="0000000002"/>
																		<s:whiteSpace value="preserve"/>
																	</s:restriction>
																</s:simpleType>
															</s:element>
															<s:element name="COD_CENT_UO" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:string">
																		<s:length value="0000000004"/>
																		<s:whiteSpace value="preserve"/>
																	</s:restriction>
																</s:simpleType>
															</s:element>
															<s:element name="NUM_SEC_AC" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:integer">
																		<s:maxInclusive value="9999999999"/>
																		<s:minInclusive value="0"/>
																	</s:restriction>
																</s:simpleType>
															</s:element>
														</s:sequence>
													</s:complexType>
												</s:element>
												<s:element name="RP_PERS_RL_AC_V" nillable="false">
													<s:complexType mixed="false">
														<s:sequence>
															<s:element name="COD_RZN_ECV_RP" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:string">
																		<s:length value="0000000001"/>
																		<s:whiteSpace value="preserve"/>
																	</s:restriction>
																</s:simpleType>
															</s:element>
															<s:element name="COD_LINEA" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:string">
																		<s:length value="0000000002"/>
																		<s:whiteSpace value="preserve"/>
																	</s:restriction>
																</s:simpleType>
															</s:element>
															<s:element name="ID_GRP_PD" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:string">
																		<s:length value="0000000002"/>
																		<s:whiteSpace value="preserve"/>
																	</s:restriction>
																</s:simpleType>
															</s:element>
															<s:element name="ID_PDV" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:string">
																		<s:length value="0000000004"/>
																		<s:whiteSpace value="preserve"/>
																	</s:restriction>
																</s:simpleType>
															</s:element>
															<s:element name="IMP_GRTZA_I" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:decimal">
																		<s:totalDigits value="0000000014"/>
																		<s:fractionDigits value="02"/>
																		<s:maxInclusive value="999999999999.99" />
																		<s:minInclusive value="0"/>
																	</s:restriction>
																</s:simpleType>
															</s:element>
															<s:element name="IMP_GRTZA_R" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:decimal">
																		<s:totalDigits value="0000000014"/>
																		<s:fractionDigits value="02"/>
																		<s:maxInclusive value="999999999999.99" />
																		<s:minInclusive value="0"/>
																	</s:restriction>
																</s:simpleType>
															</s:element>
															<s:element name="FECHA_INICIO_I" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:integer">
																		<s:maxInclusive value="99999999"/>
																		<s:minInclusive value="0"/>
																	</s:restriction>
																</s:simpleType>
															</s:element>
															<s:element name="FECHA_INICIO_R" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:integer">
																		<s:maxInclusive value="99999999"/>
																		<s:minInclusive value="0"/>
																	</s:restriction>
																</s:simpleType>
															</s:element>
															<s:element name="IND_HAY_MAS" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:string">
																		<s:length value="0000000002"/>
																		<s:whiteSpace value="preserve"/>
																	</s:restriction>
																</s:simpleType>
															</s:element>
															<s:element name="COD_NUMRCO_MONEDA" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:string">
																		<s:length value="0000000003"/>
																		<s:whiteSpace value="preserve"/>
																	</s:restriction>
																</s:simpleType>
															</s:element>
														</s:sequence>
													</s:complexType>
												</s:element>
												<s:element name="RP_CAMPO_OPC_V" nillable="false">
													<s:complexType mixed="false">
														<s:sequence>
															<s:element name="COD_ECV_PERS_AC" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:string">
																		<s:length value="0000000001"/>
																		<s:whiteSpace value="preserve"/>
																	</s:restriction>
																</s:simpleType>
															</s:element>
															<s:element name="NUM_RL_ORDEN" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:integer">
																		<s:maxInclusive value="9999"/>
																		<s:minInclusive value="0"/>
																	</s:restriction>
																</s:simpleType>
															</s:element>
															<s:element name="IND_GT_COMRCL_GT" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:string">
																		<s:length value="0000000001"/>
																		<s:whiteSpace value="preserve"/>
																	</s:restriction>
																</s:simpleType>
															</s:element>
															<s:element name="IND_GT_CONTCT_GT" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:string">
																		<s:length value="0000000001"/>
																		<s:whiteSpace value="preserve"/>
																	</s:restriction>
																</s:simpleType>
															</s:element>
															<s:element name="IND_GT_SITESPCL_GT" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:string">
																		<s:length value="0000000001"/>
																		<s:whiteSpace value="preserve"/>
																	</s:restriction>
																</s:simpleType>
															</s:element>
															<s:element name="COD_LINEA" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:string">
																		<s:length value="0000000002"/>
																		<s:whiteSpace value="preserve"/>
																	</s:restriction>
																</s:simpleType>
															</s:element>
															<s:element name="ID_GRP_PD" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:string">
																		<s:length value="0000000002"/>
																		<s:whiteSpace value="preserve"/>
																	</s:restriction>
																</s:simpleType>
															</s:element>
															<s:element name="ID_PDV" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:string">
																		<s:length value="0000000004"/>
																		<s:whiteSpace value="preserve"/>
																	</s:restriction>
																</s:simpleType>
															</s:element>
														</s:sequence>
													</s:complexType>
												</s:element>
											</s:sequence>
										</s:complexType>
									</s:element>
									<s:element name="STD_TRN_I_PARM_V" nillable="false">
										<s:complexType mixed="false">
											<s:sequence>
												<s:element name="ID_INTERNO_TERM_TN" nillable="false">
													<s:simpleType>
														<s:restriction base="s:string">
															<s:length value="0000000008"/>
															<s:whiteSpace value="preserve"/>
														</s:restriction>
													</s:simpleType>
												</s:element>
												<s:element name="ID_EMPL_AUT" nillable="false">
													<s:simpleType>
														<s:restriction base="s:string">
															<s:length value="0000000008"/>
															<s:whiteSpace value="preserve"/>
														</s:restriction>
													</s:simpleType>
												</s:element>
												<s:element name="NUM_SEC" nillable="false">
													<s:simpleType>
														<s:restriction base="s:integer">
															<s:maxInclusive value="9999999"/>
															<s:minInclusive value="0"/>
														</s:restriction>
													</s:simpleType>
												</s:element>
												<s:element name="COD_TX" nillable="false">
													<s:simpleType>
														<s:restriction base="s:string">
															<s:length value="0000000008"/>
															<s:whiteSpace value="preserve"/>
														</s:restriction>
													</s:simpleType>
												</s:element>
												<s:element name="COD_TX_DI" nillable="false">
													<s:simpleType>
														<s:restriction base="s:string">
															<s:length value="0000000004"/>
															<s:whiteSpace value="preserve"/>
														</s:restriction>
													</s:simpleType>
												</s:element>
											</s:sequence>
										</s:complexType>
									</s:element>
									<s:element name="CONSULTA_V" nillable="false">
										<s:complexType mixed="false">
											<s:sequence>
												<s:element name="STD_CHAR_02" nillable="false">
													<s:simpleType>
														<s:restriction base="s:string">
															<s:length value="0000000002"/>
															<s:whiteSpace value="preserve"/>
														</s:restriction>
													</s:simpleType>
												</s:element>
											</s:sequence>
										</s:complexType>
									</s:element>
									<s:element name="RP_ECV_AC_V" nillable="false">
										<s:complexType mixed="false">
											<s:sequence>
												<s:element name="COD_ECV_AC" nillable="false">
													<s:simpleType>
														<s:restriction base="s:string">
															<s:length value="0000000001"/>
															<s:whiteSpace value="preserve"/>
														</s:restriction>
													</s:simpleType>
												</s:element>
											</s:sequence>
										</s:complexType>
									</s:element>
									<s:element name="EVENT_CD" nillable="false">
										<s:simpleType>
											<s:restriction base="s:integer">
												<s:maxInclusive value="9999"/>
												<s:minInclusive value="0"/>
											</s:restriction>
										</s:simpleType>
									</s:element>
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="EjecutarResponse">
				<s:complexType>
					<s:sequence>
						<s:element name="EjecutarResult" type="tns:EjecutarResult" maxOccurs="1" minOccurs="0" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="EjecutarResult">
				<s:sequence>
					<s:element name="ResponseBansefi" type="tns:ArrayOfResponseBansefi" maxOccurs="1" minOccurs="0" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfResponseBansefi">
				<s:sequence>
					<s:element name="ResponseBansefi" type="tns:ResponseBansefi" maxOccurs="unbounded" minOccurs="0" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ResponseBansefi">
				<s:sequence>
					<s:element name="TR_CONSULTA_RP_PANT_TRN_O" nillable="false">
						<s:complexType mixed="false">
							<s:sequence>
								<s:element name="RTRN_CD" nillable="false">
									<s:simpleType>
										<s:restriction base="s:integer">
											<s:maxInclusive value="9999"/>
											<s:minInclusive value="0"/>
										</s:restriction>
									</s:simpleType>
								</s:element>
								<s:element name="NUMBER_OF_RECORDS" nillable="false">
									<s:simpleType>
										<s:restriction base="s:integer">
											<s:maxInclusive value="9999"/>
											<s:minInclusive value="0"/>
										</s:restriction>
									</s:simpleType>
								</s:element>
								<s:element name="MORE_DATA_IN" nillable="false">
									<s:simpleType>
										<s:restriction base="s:integer">
											<s:maxInclusive value="9999"/>
											<s:minInclusive value="0"/>
										</s:restriction>
									</s:simpleType>
								</s:element>
								<s:element name="TR_CONSULTA_RP_PANT_EVT_Z" nillable="false">
									<s:complexType mixed="false">
										<s:sequence>
											<s:element name="PCT_V" nillable="false">
												<s:complexType mixed="false">
													<s:sequence>
														<s:element name="PCT_COEF" nillable="false">
															<s:simpleType>
																<s:restriction base="s:decimal">
																	<s:totalDigits value="0000000004"/>
																	<s:fractionDigits value="02"/>
																	<s:maxInclusive value="99.99" />
																	<s:minInclusive value="0"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
													</s:sequence>
												</s:complexType>
											</s:element>
											<s:element name="RP_PERS_RL_AC_E" nillable="false" maxOccurs="00050">
												<s:complexType mixed="false">
													<s:sequence>
														<s:element name="COD_NRBE_EN" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000004"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="ID_INTERNO_PE" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="99999999"/>
																	<s:minInclusive value="0"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_RL_PERS_AC" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000002"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_CENT_UO" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000004"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="NUM_SEC_AC" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="9999999999"/>
																	<s:minInclusive value="0"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="FECHA_ALTA" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="99999999"/>
																	<s:minInclusive value="0"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_ECV_PERS_AC" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="FECHA_INICIO" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="99999999"/>
																	<s:minInclusive value="0"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="FECHA_CRRE" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="99999999"/>
																	<s:minInclusive value="0"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="NUM_RL_ORDEN" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="9999"/>
																	<s:minInclusive value="0"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IND_REPRESENTANTE" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_ORIG_GTIA" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000002"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_NATUR_GTIA" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000004"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
													</s:sequence>
												</s:complexType>
											</s:element>
											<s:element name="RP_PERS_RL_AC_V" nillable="false" maxOccurs="00050">
												<s:complexType mixed="false">
													<s:sequence>
														<s:element name="COD_RZN_ECV_RP" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_LINEA" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000002"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="ID_GRP_PD" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000002"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="ID_PDV" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000004"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IMP_GRTZA_I" nillable="false">
															<s:simpleType>
																<s:restriction base="s:decimal">
																	<s:totalDigits value="0000000014"/>
																	<s:fractionDigits value="02"/>
																	<s:maxInclusive value="999999999999.99" />
																	<s:minInclusive value="0"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IMP_GRTZA_R" nillable="false">
															<s:simpleType>
																<s:restriction base="s:decimal">
																	<s:totalDigits value="0000000014"/>
																	<s:fractionDigits value="02"/>
																	<s:maxInclusive value="999999999999.99" />
																	<s:minInclusive value="0"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="FECHA_INICIO_I" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="99999999"/>
																	<s:minInclusive value="0"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="FECHA_INICIO_R" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="99999999"/>
																	<s:minInclusive value="0"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IND_HAY_MAS" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000002"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_NUMRCO_MONEDA" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000003"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
													</s:sequence>
												</s:complexType>
											</s:element>
											<s:element name="RP_PERS_V" nillable="false" maxOccurs="00050">
												<s:complexType mixed="false">
													<s:sequence>
														<s:element name="ID_INTERNO_PE" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="99999999"/>
																	<s:minInclusive value="0"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="ID_EXT_PE" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000014"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_ID_EXT_PERS" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000002"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="NOMB_50" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000050"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_PE" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
													</s:sequence>
												</s:complexType>
											</s:element>
											<s:element name="RP_AC_V" nillable="false" maxOccurs="00050">
												<s:complexType mixed="false">
													<s:sequence>
														<s:element name="COD_CENT_UO" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000004"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="NUM_SEC_AC" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="9999999999"/>
																	<s:minInclusive value="0"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="NOMB_PDV" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000030"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
													</s:sequence>
												</s:complexType>
											</s:element>
											<s:element name="RP_POSICION_V2" nillable="false">
												<s:complexType mixed="false">
													<s:sequence>
														<s:element name="COD_NRBE_EN" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000004"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_CENT_UO" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000004"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="NUM_SEC_AC" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="9999999999"/>
																	<s:minInclusive value="0"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="RP_SALDOS_V" nillable="false" maxOccurs="00004">
															<s:complexType mixed="false">
																<s:sequence>
																	<s:element name="COD_CTA" nillable="false">
																		<s:simpleType>
																			<s:restriction base="s:string">
																				<s:length value="0000000002"/>
																				<s:whiteSpace value="preserve"/>
																			</s:restriction>
																		</s:simpleType>
																	</s:element>
																	<s:element name="COD_SDO" nillable="false">
																		<s:simpleType>
																			<s:restriction base="s:string">
																				<s:length value="0000000002"/>
																				<s:whiteSpace value="preserve"/>
																			</s:restriction>
																		</s:simpleType>
																	</s:element>
																	<s:element name="IMP_SDO" nillable="false">
																		<s:simpleType>
																			<s:restriction base="s:decimal">
																				<s:totalDigits value="0000000014"/>
																				<s:fractionDigits value="02"/>
																				<s:maxInclusive value="999999999999.99" />
																				<s:minInclusive value="0"/>
																			</s:restriction>
																		</s:simpleType>
																	</s:element>
																</s:sequence>
															</s:complexType>
														</s:element>
														<s:element name="RP_DATOS_AC_V" nillable="false">
															<s:complexType mixed="false">
																<s:sequence>
																	<s:element name="COD_DIG_CR_UO" nillable="false">
																		<s:simpleType>
																			<s:restriction base="s:string">
																				<s:length value="0000000002"/>
																				<s:whiteSpace value="preserve"/>
																			</s:restriction>
																		</s:simpleType>
																	</s:element>
																	<s:element name="COD_CSB_OF" nillable="false">
																		<s:simpleType>
																			<s:restriction base="s:string">
																				<s:length value="0000000004"/>
																				<s:whiteSpace value="preserve"/>
																			</s:restriction>
																		</s:simpleType>
																	</s:element>
																	<s:element name="COD_INTERNO_UO" nillable="false">
																		<s:simpleType>
																			<s:restriction base="s:string">
																				<s:length value="0000000004"/>
																				<s:whiteSpace value="preserve"/>
																			</s:restriction>
																		</s:simpleType>
																	</s:element>
																	<s:element name="COD_PLZ_BANCARIA" nillable="false">
																		<s:simpleType>
																			<s:restriction base="s:string">
																				<s:length value="0000000003"/>
																				<s:whiteSpace value="preserve"/>
																			</s:restriction>
																		</s:simpleType>
																	</s:element>
																</s:sequence>
															</s:complexType>
														</s:element>
													</s:sequence>
												</s:complexType>
											</s:element>
											<s:element name="RP_ACUERDO_V" nillable="false" maxOccurs="00050">
												<s:complexType mixed="false">
													<s:sequence>
														<s:element name="COD_NUMRCO_MONEDA" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000003"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_SIT_IRREG" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
													</s:sequence>
												</s:complexType>
											</s:element>
										</s:sequence>
									</s:complexType>
								</s:element>
								<s:element name="STD_TRN_MSJ_PARM_V" nillable="false" maxOccurs="00005">
									<s:complexType mixed="false">
										<s:sequence>
											<s:element name="TEXT_CODE" nillable="false">
												<s:simpleType>
													<s:restriction base="s:integer">
														<s:maxInclusive value="9999"/>
														<s:minInclusive value="0"/>
													</s:restriction>
												</s:simpleType>
											</s:element>
											<s:element name="TEXT_ARG1" nillable="false">
												<s:simpleType>
													<s:restriction base="s:string">
														<s:length value="0000000018"/>
														<s:whiteSpace value="preserve"/>
													</s:restriction>
												</s:simpleType>
											</s:element>
										</s:sequence>
									</s:complexType>
								</s:element>
								<s:element name="STD_TRN_O_PARM_V" nillable="false">
									<s:complexType mixed="false">
										<s:sequence>
											<s:element name="FECHA_OPRCN" nillable="false">
												<s:simpleType>
													<s:restriction base="s:integer">
														<s:maxInclusive value="99999999"/>
														<s:minInclusive value="0"/>
													</s:restriction>
												</s:simpleType>
											</s:element>
											<s:element name="HORA_OPRCN" nillable="false">
												<s:simpleType>
													<s:restriction base="s:integer">
														<s:maxInclusive value="99999999"/>
														<s:minInclusive value="0"/>
													</s:restriction>
												</s:simpleType>
											</s:element>
										</s:sequence>
									</s:complexType>
								</s:element>
							</s:sequence>
						</s:complexType>
					</s:element>
				</s:sequence>
			</s:complexType>
			<s:element name="EjecutarResult" type="tns:EjecutarResult"/>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="EjecutarSoapIn">
		<wsdl:part name="parameters" element="tns:Ejecutar" />
	</wsdl:message>
	<wsdl:message name="EjecutarSoapOut">
		<wsdl:part name="parameters" element="tns:EjecutarResponse" />
	</wsdl:message>
	<wsdl:portType name="SoapPort">
		<wsdl:operation name="Ejecutar">
			<wsdl:input message="tns:EjecutarSoapIn" />
			<wsdl:output message="tns:EjecutarSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SoapBinding" type="tns:SoapPort">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Ejecutar">
			<soap:operation soapAction="http://10.200.14.110:3300/WebServicesNSS/TR_CONSULTA_RP_PANT_TRN/Ejecutar" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TR_CONSULTA_RP_PANT_TRN">
		<wsdl:port name="SoapPort" binding="tns:SoapBinding">
			<soap:address location="http://10.200.14.110:3300/WebServicesNSS/TR_CONSULTA_RP_PANT_TRN"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>