wsServer/WebContent/WEB-INF/wsdl/TR_CONSULTA_ACUERDO_TRN.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://BansefiNSS/WebServicesNSS/TR_CONSULTA_ACUERDO_TRN" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://BansefiNSS/WebServicesNSS/TR_CONSULTA_ACUERDO_TRN" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://BansefiNSS/WebServicesNSS/TR_CONSULTA_ACUERDO_TRN">
			<s:element name="Ejecutar">
				<s:complexType>
					<s:sequence>
						<s:element name="TR_CONSULTA_ACUERDO_TRN_I" nillable="false">
							<s:complexType mixed="false">
								<s:sequence>
									<s:element name="ELEVATOR_POSITION" nillable="false">
										<s:simpleType>
											<s:restriction base="s:integer">
												<s:maxInclusive value="9999"/>
												<s:minInclusive value="0"/>
											</s:restriction>
										</s:simpleType>
									</s:element>
									<s:element name="SCROLLABLE_OCCURS" nillable="false">
										<s:simpleType>
											<s:restriction base="s:integer">
												<s:maxInclusive value="9999"/>
												<s:minInclusive value="0"/>
											</s:restriction>
										</s:simpleType>
									</s:element>
									<s:element name="TR_CONSULTA_ACUERDO_EVT_Y" nillable="false">
										<s:complexType mixed="false">
											<s:sequence>
												<s:element name="AC_AC_P" nillable="false">
													<s:complexType mixed="false">
														<s:sequence>
															<s:element name="COD_NRBE_EN" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:string">
																		<s:length value="0000000004"/>
																		<s:whiteSpace value="preserve"/>
																	</s:restriction>
																</s:simpleType>
															</s:element>
															<s:element name="COD_CENT_UO" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:string">
																		<s:length value="0000000004"/>
																		<s:whiteSpace value="preserve"/>
																	</s:restriction>
																</s:simpleType>
															</s:element>
															<s:element name="NUM_SEC_AC" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:integer">
																		<s:maxInclusive value="9999999999"/>
																		<s:minInclusive value="0"/>
																	</s:restriction>
																</s:simpleType>
															</s:element>
														</s:sequence>
													</s:complexType>
												</s:element>
												<s:element name="AC_IND_CONSU_AC_V" nillable="false">
													<s:complexType mixed="false">
														<s:sequence>
															<s:element name="STD_SMALL_INT" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:integer">
																		<s:maxInclusive value="9999"/>
																		<s:minInclusive value="0"/>
																	</s:restriction>
																</s:simpleType>
															</s:element>
														</s:sequence>
													</s:complexType>
												</s:element>
												<s:element name="AC_IND_PROCEDE_GESTION_V" nillable="false">
													<s:complexType mixed="false">
														<s:sequence>
															<s:element name="STD_SMALL_INT" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:integer">
																		<s:maxInclusive value="9999"/>
																		<s:minInclusive value="0"/>
																	</s:restriction>
																</s:simpleType>
															</s:element>
														</s:sequence>
													</s:complexType>
												</s:element>
											</s:sequence>
										</s:complexType>
									</s:element>
									<s:element name="STD_TRN_I_PARM_V" nillable="false">
										<s:complexType mixed="false">
											<s:sequence>
												<s:element name="ID_INTERNO_TERM_TN" nillable="false">
													<s:simpleType>
														<s:restriction base="s:string">
															<s:length value="0000000008"/>
															<s:whiteSpace value="preserve"/>
														</s:restriction>
													</s:simpleType>
												</s:element>
												<s:element name="ID_EMPL_AUT" nillable="false">
													<s:simpleType>
														<s:restriction base="s:string">
															<s:length value="0000000008"/>
															<s:whiteSpace value="preserve"/>
														</s:restriction>
													</s:simpleType>
												</s:element>
												<s:element name="NUM_SEC" nillable="false">
													<s:simpleType>
														<s:restriction base="s:integer">
															<s:maxInclusive value="9999999"/>
															<s:minInclusive value="0"/>
														</s:restriction>
													</s:simpleType>
												</s:element>
												<s:element name="COD_TX" nillable="false">
													<s:simpleType>
														<s:restriction base="s:string">
															<s:length value="0000000008"/>
															<s:whiteSpace value="preserve"/>
														</s:restriction>
													</s:simpleType>
												</s:element>
												<s:element name="COD_TX_DI" nillable="false">
													<s:simpleType>
														<s:restriction base="s:string">
															<s:length value="0000000004"/>
															<s:whiteSpace value="preserve"/>
														</s:restriction>
													</s:simpleType>
												</s:element>
											</s:sequence>
										</s:complexType>
									</s:element>
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="EjecutarResponse">
				<s:complexType>
					<s:sequence>
						<s:element name="EjecutarResult" type="tns:EjecutarResult" maxOccurs="1" minOccurs="0" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="EjecutarResult">
				<s:sequence>
					<s:element name="ResponseBansefi" type="tns:ArrayOfResponseBansefi" maxOccurs="1" minOccurs="0" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfResponseBansefi">
				<s:sequence>
					<s:element name="ResponseBansefi" type="tns:ResponseBansefi" maxOccurs="unbounded" minOccurs="0" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ResponseBansefi">
				<s:sequence>
					<s:element name="TR_CONSULTA_ACUERDO_TRN_O" nillable="false">
						<s:complexType mixed="false">
							<s:sequence>
								<s:element name="RTRN_CD" nillable="false">
									<s:simpleType>
										<s:restriction base="s:integer">
											<s:maxInclusive value="9999"/>
											<s:minInclusive value="0"/>
										</s:restriction>
									</s:simpleType>
								</s:element>
								<s:element name="MORE_DATA_IN" nillable="false">
									<s:simpleType>
										<s:restriction base="s:integer">
											<s:maxInclusive value="9999"/>
											<s:minInclusive value="0"/>
										</s:restriction>
									</s:simpleType>
								</s:element>
								<s:element name="NUMBER_OF_RECORDS" nillable="false">
									<s:simpleType>
										<s:restriction base="s:integer">
											<s:maxInclusive value="9999"/>
											<s:minInclusive value="0"/>
										</s:restriction>
									</s:simpleType>
								</s:element>
								<s:element name="TR_CONSULTA_ACUERDO_EVT_Z" nillable="false">
									<s:complexType mixed="false">
										<s:sequence>
											<s:element name="AC_AC_E" nillable="false">
												<s:complexType mixed="false">
													<s:sequence>
														<s:element name="COD_NRBE_EN" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000004"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_CENT_UO" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000004"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="NUM_SEC_AC" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="9999999999"/>
																	<s:minInclusive value="0"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_ECV_AC" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="FECHA_INI_ECV_ACT" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="99999999"/>
																	<s:minInclusive value="0"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IND_SOCIO_PE" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="SIT_RESDNC_PE" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="CTER_INT" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000002"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_ACTIVO" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000002"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_DIG_CR_UO" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000002"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_INTERNO_UO" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000004"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_CSB_OF" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000004"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_LINEA" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000002"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="ID_GRP_PD" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000002"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="ID_PDV" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000004"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="ID_TRFA_PDV" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000003"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_ORGN_AC" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_NUMRCO_MONEDA" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000003"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_SIT_RECLAM" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_SIT_IRREG" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_CNO_INDV" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000006"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_CNAE_PERS" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000007"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_SECTOR_AC" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000004"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_FNDAD_AC" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000003"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_GRTIA_AC" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000003"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_ESTICO" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000006"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_PERS_CTBLE" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000003"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_GTIA_CTBLE" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000002"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_GTIA_CIRBE" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_PLZ_BANCARIA" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000003"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
													</s:sequence>
												</s:complexType>
											</s:element>
											<s:element name="IND_REPRESENTANTE_V" nillable="false">
												<s:complexType mixed="false">
													<s:sequence>
														<s:element name="IND_REPRESENTANTE" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
													</s:sequence>
												</s:complexType>
											</s:element>
											<s:element name="DESCR_PDV_V" nillable="false">
												<s:complexType mixed="false">
													<s:sequence>
														<s:element name="NOMB_PDV" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000030"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
													</s:sequence>
												</s:complexType>
											</s:element>
											<s:element name="PERSONA_AC_V" nillable="false">
												<s:complexType mixed="false">
													<s:sequence>
														<s:element name="ID_INTERNO_PE" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="99999999"/>
																	<s:minInclusive value="0"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_ID_EXT_PERS" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000002"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="ID_EXT_PE" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000014"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_PE" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="SIT_RESDNC_PE" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_CNAE_PERS" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000007"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IND_SOCIO_PE" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="NOMB_50" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000050"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
													</s:sequence>
												</s:complexType>
											</s:element>
											<s:element name="NUM_TARJETA_V" nillable="false">
												<s:complexType mixed="false">
													<s:sequence></s:sequence>
												</s:complexType>
											</s:element>
											<s:element name="TR_CONS_VAL_MSV_KA_EVT_Z" nillable="false">
												<s:complexType mixed="false">
													<s:sequence>
														<s:element name="KA_CD_AC_1_V" nillable="false" maxOccurs="00050">
															<s:complexType mixed="false">
																<s:sequence>
																	<s:element name="KA_CD_AC_E" nillable="false">
																		<s:complexType mixed="false">
																			<s:sequence>
																				<s:element name="COD_NRBE_EN" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000004"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="COD_CENT_UO" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000004"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="NUM_SEC_AC" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:integer">
																							<s:maxInclusive value="9999999999"/>
																							<s:minInclusive value="0"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="ID_PDS" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000003"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="ID_PARMCD" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000003"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="FECHA_INIC_VAL" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:integer">
																							<s:maxInclusive value="99999999"/>
																							<s:minInclusive value="0"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="FECHA_CRRE_VAL" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:integer">
																							<s:maxInclusive value="99999999"/>
																							<s:minInclusive value="0"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="COD_ECV_KA" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000001"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="FECHA_ECV_ACT" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:integer">
																							<s:maxInclusive value="99999999"/>
																							<s:minInclusive value="0"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="IND_CD_PD" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000001"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="COD_ORG_CD" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000001"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="COD_ESTRCT_CD" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000001"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="COD_CONCPT_NEG" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000002"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																			</s:sequence>
																		</s:complexType>
																	</s:element>
																	<s:element name="KA_ESTRCT_VLISTA_V" nillable="false">
																		<s:complexType mixed="false">
																			<s:sequence>
																				<s:element name="COD_DOM_PARMCD" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000002"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																			</s:sequence>
																		</s:complexType>
																	</s:element>
																	<s:element name="KA_KA_RL_PK_DOM_V" nillable="false" maxOccurs="00050">
																		<s:complexType mixed="false">
																			<s:sequence>
																				<s:element name="COD_DOM_PARMCD" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000002"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="DOM_IND_PREF" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000001"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																			</s:sequence>
																		</s:complexType>
																	</s:element>
																	<s:element name="KA_ESTRCT_RNG_V" nillable="false">
																		<s:complexType mixed="false">
																			<s:sequence>
																				<s:element name="RNG_PREF" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:decimal">
																							<s:totalDigits value="0000000014"/>
																							<s:fractionDigits value="02"/>
																							<s:maxInclusive value="999999999999.99" />
																							<s:minInclusive value="0"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="RNG_MIN" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:decimal">
																							<s:totalDigits value="0000000014"/>
																							<s:fractionDigits value="02"/>
																							<s:maxInclusive value="999999999999.99" />
																							<s:minInclusive value="0"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="RNG_MAX" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:decimal">
																							<s:totalDigits value="0000000014"/>
																							<s:fractionDigits value="02"/>
																							<s:maxInclusive value="999999999999.99" />
																							<s:minInclusive value="0"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="RNG_INCREM" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:decimal">
																							<s:totalDigits value="0000000014"/>
																							<s:fractionDigits value="02"/>
																							<s:maxInclusive value="999999999999.99" />
																							<s:minInclusive value="0"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="COD_UM" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000001"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																			</s:sequence>
																		</s:complexType>
																	</s:element>
																	<s:element name="KA_ESTRCT_VRNG_V" nillable="false">
																		<s:complexType mixed="false">
																			<s:sequence>
																				<s:element name="RNG_VALOR" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:decimal">
																							<s:totalDigits value="0000000014"/>
																							<s:fractionDigits value="02"/>
																							<s:maxInclusive value="999999999999.99" />
																							<s:minInclusive value="0"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="COD_UM" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000001"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																			</s:sequence>
																		</s:complexType>
																	</s:element>
																	<s:element name="KA_ESTRCT_CMSN_1_V" nillable="false">
																		<s:complexType mixed="false">
																			<s:sequence>
																				<s:element name="COD_CMSN" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000001"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="ID_PDS_1" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000003"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="ID_PARMCD_1" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000003"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="COD_NUMRCO_MONEDA" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000003"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="COD_AGRU_CLOP" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000002"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																			</s:sequence>
																		</s:complexType>
																	</s:element>
																	<s:element name="KA_CMSN_PRCTL_V" nillable="false">
																		<s:complexType mixed="false">
																			<s:sequence>
																				<s:element name="COD_COMSN_PRCTL" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000001"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="CMSN_PCT" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:decimal">
																							<s:totalDigits value="0000000005"/>
																							<s:fractionDigits value="03"/>
																							<s:maxInclusive value="99.999" />
																							<s:minInclusive value="0"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="CMSN_MIN" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:decimal">
																							<s:totalDigits value="0000000014"/>
																							<s:fractionDigits value="02"/>
																							<s:maxInclusive value="999999999999.99" />
																							<s:minInclusive value="0"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="CMSN_MAX" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:decimal">
																							<s:totalDigits value="0000000014"/>
																							<s:fractionDigits value="02"/>
																							<s:maxInclusive value="999999999999.99" />
																							<s:minInclusive value="0"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="IMP_FRANQ" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:decimal">
																							<s:totalDigits value="0000000014"/>
																							<s:fractionDigits value="02"/>
																							<s:maxInclusive value="999999999999.99" />
																							<s:minInclusive value="0"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																			</s:sequence>
																		</s:complexType>
																	</s:element>
																	<s:element name="KA_CMSN_FIJ_V" nillable="false">
																		<s:complexType mixed="false">
																			<s:sequence>
																				<s:element name="IMP_CMSN_FIJ" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:decimal">
																							<s:totalDigits value="0000000014"/>
																							<s:fractionDigits value="02"/>
																							<s:maxInclusive value="999999999999.99" />
																							<s:minInclusive value="0"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="FOR_CAL_PER_PCAL" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000002"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																			</s:sequence>
																		</s:complexType>
																	</s:element>
																	<s:element name="KA_ESTRCT_INT_1_V" nillable="false">
																		<s:complexType mixed="false">
																			<s:sequence>
																				<s:element name="ID_PDS_1" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000003"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="ID_PARMCD_1" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000003"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="COD_INT" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000001"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																			</s:sequence>
																		</s:complexType>
																	</s:element>
																	<s:element name="KA_ESTRCT_INT_FIJ_V" nillable="false">
																		<s:complexType mixed="false">
																			<s:sequence>
																				<s:element name="INT_VALOR" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:decimal">
																							<s:totalDigits value="0000000005"/>
																							<s:fractionDigits value="03"/>
																							<s:maxInclusive value="99.999" />
																							<s:minInclusive value="0"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																			</s:sequence>
																		</s:complexType>
																	</s:element>
																	<s:element name="KA_ESTRCT_INT_VAR_V" nillable="false">
																		<s:complexType mixed="false">
																			<s:sequence>
																				<s:element name="INT_INCREM" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:decimal">
																							<s:totalDigits value="0000000005"/>
																							<s:fractionDigits value="03"/>
																							<s:maxInclusive value="99.999" />
																							<s:minInclusive value="0"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="INT_MIN" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:decimal">
																							<s:totalDigits value="0000000005"/>
																							<s:fractionDigits value="03"/>
																							<s:maxInclusive value="99.999" />
																							<s:minInclusive value="0"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="INT_MAX" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:decimal">
																							<s:totalDigits value="0000000005"/>
																							<s:fractionDigits value="03"/>
																							<s:maxInclusive value="99.999" />
																							<s:minInclusive value="0"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="INT_FREC_REV" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000001"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="FRACCION_REV" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:decimal">
																							<s:totalDigits value="0000000006"/>
																							<s:fractionDigits value="04"/>
																							<s:maxInclusive value="99.9999" />
																							<s:minInclusive value="0"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="PCT_MIN_REV" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:decimal">
																							<s:totalDigits value="0000000005"/>
																							<s:fractionDigits value="03"/>
																							<s:maxInclusive value="99.999" />
																							<s:minInclusive value="0"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="COD_REF_INT" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000004"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="COD_CRIT_REV" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000002"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="FORMA_REV" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000001"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																			</s:sequence>
																		</s:complexType>
																	</s:element>
																	<s:element name="KA_INT_FRANQ_1_V" nillable="false">
																		<s:complexType mixed="false">
																			<s:sequence>
																				<s:element name="IMP_FRANQ" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:decimal">
																							<s:totalDigits value="0000000014"/>
																							<s:fractionDigits value="02"/>
																							<s:maxInclusive value="999999999999.99" />
																							<s:minInclusive value="0"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="COD_INT" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000001"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																			</s:sequence>
																		</s:complexType>
																	</s:element>
																	<s:element name="KA_INT_FRANQ_FIJ_V" nillable="false">
																		<s:complexType mixed="false">
																			<s:sequence>
																				<s:element name="INT_VALOR" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:decimal">
																							<s:totalDigits value="0000000005"/>
																							<s:fractionDigits value="03"/>
																							<s:maxInclusive value="99.999" />
																							<s:minInclusive value="0"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																			</s:sequence>
																		</s:complexType>
																	</s:element>
																	<s:element name="KA_INT_FRANQ_VAR_V" nillable="false">
																		<s:complexType mixed="false">
																			<s:sequence>
																				<s:element name="INT_INCREM" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:decimal">
																							<s:totalDigits value="0000000005"/>
																							<s:fractionDigits value="03"/>
																							<s:maxInclusive value="99.999" />
																							<s:minInclusive value="0"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="INT_MIN" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:decimal">
																							<s:totalDigits value="0000000005"/>
																							<s:fractionDigits value="03"/>
																							<s:maxInclusive value="99.999" />
																							<s:minInclusive value="0"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="INT_MAX" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:decimal">
																							<s:totalDigits value="0000000005"/>
																							<s:fractionDigits value="03"/>
																							<s:maxInclusive value="99.999" />
																							<s:minInclusive value="0"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="INT_FREC_REV" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000001"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="FRACCION_REV" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:decimal">
																							<s:totalDigits value="0000000006"/>
																							<s:fractionDigits value="04"/>
																							<s:maxInclusive value="99.9999" />
																							<s:minInclusive value="0"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="PCT_MIN_REV" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:decimal">
																							<s:totalDigits value="0000000005"/>
																							<s:fractionDigits value="03"/>
																							<s:maxInclusive value="99.999" />
																							<s:minInclusive value="0"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="COD_REF_INT" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000004"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="COD_CRIT_REV" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000002"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="FORMA_REV" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000001"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																			</s:sequence>
																		</s:complexType>
																	</s:element>
																	<s:element name="KA_INT_RL_SP_V" nillable="false" maxOccurs="00015">
																		<s:complexType mixed="false">
																			<s:sequence>
																				<s:element name="COD_CLASE_SP" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000003"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="ID_SP_NUM" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:integer">
																							<s:maxInclusive value="9999"/>
																							<s:minInclusive value="0"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																			</s:sequence>
																		</s:complexType>
																	</s:element>
																	<s:element name="KA_MATRIZ_V" nillable="false">
																		<s:complexType mixed="false">
																			<s:sequence>
																				<s:element name="ID_TRAMEADO" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000010"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="COD_FOR_APLC_TR" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000001"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="ID_PDS_1" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000003"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="ID_PARMCD_1" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000003"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																				<s:element name="COD_AGRU_CLOP" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000002"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																			</s:sequence>
																		</s:complexType>
																	</s:element>
																	<s:element name="ID_CCPS_1_V" nillable="false">
																		<s:complexType mixed="false">
																			<s:sequence>
																				<s:element name="ID_CCPS" nillable="false">
																					<s:simpleType>
																						<s:restriction base="s:string">
																							<s:length value="0000000003"/>
																							<s:whiteSpace value="preserve"/>
																						</s:restriction>
																					</s:simpleType>
																				</s:element>
																			</s:sequence>
																		</s:complexType>
																	</s:element>
																</s:sequence>
															</s:complexType>
														</s:element>
													</s:sequence>
												</s:complexType>
											</s:element>
										</s:sequence>
									</s:complexType>
								</s:element>
								<s:element name="STD_AN_AV_MSJ_V" nillable="false">
									<s:complexType mixed="false">
										<s:sequence>
											<s:element name="AN_NUM_ANOTACIONES_V" nillable="false">
												<s:complexType mixed="false">
													<s:sequence>
														<s:element name="STD_DEC_3" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="999"/>
																	<s:minInclusive value="0"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
													</s:sequence>
												</s:complexType>
											</s:element>
											<s:element name="STD_AN_AV_MSJ_LS" nillable="false" maxOccurs="00005">
												<s:complexType mixed="false">
													<s:sequence>
														<s:element name="NUMERO_ANTCN" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="999999999999999"/>
																	<s:minInclusive value="0"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_ANTCN" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="DESCRIP_ANTCN_V" nillable="false">
															<s:complexType mixed="false">
																<s:sequence>
																	<s:element name="STD_CHAR_11" nillable="false">
																		<s:simpleType>
																			<s:restriction base="s:string">
																				<s:length value="0000000011"/>
																				<s:whiteSpace value="preserve"/>
																			</s:restriction>
																		</s:simpleType>
																	</s:element>
																</s:sequence>
															</s:complexType>
														</s:element>
														<s:element name="IND_PRDAD" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="DESC_IND_PRDAD_V" nillable="false">
															<s:complexType mixed="false">
																<s:sequence>
																	<s:element name="STD_CHAR_07" nillable="false">
																		<s:simpleType>
																			<s:restriction base="s:string">
																				<s:length value="0000000007"/>
																				<s:whiteSpace value="preserve"/>
																			</s:restriction>
																		</s:simpleType>
																	</s:element>
																</s:sequence>
															</s:complexType>
														</s:element>
														<s:element name="SUBCD_ANTCN" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000002"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="STD_DESCR_C_ANTCN_V" nillable="false">
															<s:complexType mixed="false">
																<s:sequence>
																	<s:element name="STD_CHAR_30" nillable="false">
																		<s:simpleType>
																			<s:restriction base="s:string">
																				<s:length value="0000000030"/>
																				<s:whiteSpace value="preserve"/>
																			</s:restriction>
																		</s:simpleType>
																	</s:element>
																</s:sequence>
															</s:complexType>
														</s:element>
													</s:sequence>
												</s:complexType>
											</s:element>
										</s:sequence>
									</s:complexType>
								</s:element>
								<s:element name="STD_TRN_MSJ_PARM_V" nillable="false" maxOccurs="00005">
									<s:complexType mixed="false">
										<s:sequence>
											<s:element name="TEXT_CODE" nillable="false">
												<s:simpleType>
													<s:restriction base="s:integer">
														<s:maxInclusive value="9999"/>
														<s:minInclusive value="0"/>
													</s:restriction>
												</s:simpleType>
											</s:element>
											<s:element name="TEXT_ARG1" nillable="false">
												<s:simpleType>
													<s:restriction base="s:string">
														<s:length value="0000000018"/>
														<s:whiteSpace value="preserve"/>
													</s:restriction>
												</s:simpleType>
											</s:element>
										</s:sequence>
									</s:complexType>
								</s:element>
								<s:element name="STD_TRN_O_PARM_V" nillable="false">
									<s:complexType mixed="false">
										<s:sequence>
											<s:element name="FECHA_OPRCN" nillable="false">
												<s:simpleType>
													<s:restriction base="s:integer">
														<s:maxInclusive value="99999999"/>
														<s:minInclusive value="0"/>
													</s:restriction>
												</s:simpleType>
											</s:element>
											<s:element name="HORA_OPRCN" nillable="false">
												<s:simpleType>
													<s:restriction base="s:integer">
														<s:maxInclusive value="99999999"/>
														<s:minInclusive value="0"/>
													</s:restriction>
												</s:simpleType>
											</s:element>
										</s:sequence>
									</s:complexType>
								</s:element>
							</s:sequence>
						</s:complexType>
					</s:element>
				</s:sequence>
			</s:complexType>
			<s:element name="EjecutarResult" type="tns:EjecutarResult"/>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="EjecutarSoapIn">
		<wsdl:part name="parameters" element="tns:Ejecutar" />
	</wsdl:message>
	<wsdl:message name="EjecutarSoapOut">
		<wsdl:part name="parameters" element="tns:EjecutarResponse" />
	</wsdl:message>
	<wsdl:portType name="SoapPort">
		<wsdl:operation name="Ejecutar">
			<wsdl:input message="tns:EjecutarSoapIn" />
			<wsdl:output message="tns:EjecutarSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SoapBinding" type="tns:SoapPort">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Ejecutar">
			<soap:operation soapAction="http://10.200.14.110:3300/WebServicesNSS/TR_CONSULT/Ejecutar" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TR_CONSULTA_ACUERDO_TRN">
		<wsdl:port name="SoapPort" binding="tns:SoapBinding">
			<soap:address location="http://10.200.14.110:3300/WebServicesNSS/TR_CONSULTA_ACUERDO_TRN"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
