wsServer/WebContent/WEB-INF/wsdl/TR_CONS_VAL_KA_RNG_TRN.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://BansefiNSS/WebServicesNSS/TR_CONS_VAL_KA_RNG_TRN"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://BansefiNSS/WebServicesNSS/TR_CONS_VAL_KA_RNG_TRN"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified"
			targetNamespace="http://BansefiNSS/WebServicesNSS/TR_CONS_VAL_KA_RNG_TRN">
			<s:element name="Ejecutar">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="USERHEADER"
							type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="PASSHEADER"
							type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="IPHEADER"
							type="s:string" />
						<s:element name="ITR_CONS_VAL_KA_RNG_TRN_I" nillable="false">
							<s:complexType mixed="false">
								<s:sequence>
									<s:element name="TR_CONS_VAL_KA_RNG_EVT_Y" nillable="false">
										<s:complexType mixed="false">
											<s:sequence>
												<s:element name="EVENT_CD" nillable="false">
													<s:simpleType>
														<s:restriction base="s:integer">
															<s:maxInclusive value="9999" />
															<s:minInclusive value="0" />
														</s:restriction>
													</s:simpleType>
												</s:element>
												<s:element name="KA_CD_AC_P" nillable="false">
													<s:complexType mixed="false">
														<s:sequence>
															<s:element name="COD_NRBE_EN" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:string">
																		<s:length value="0000000004" />
																		<s:whiteSpace value="preserve" />
																	</s:restriction>
																</s:simpleType>
															</s:element>
															<s:element name="COD_CENT_UO" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:string">
																		<s:length value="0000000004" />
																		<s:whiteSpace value="preserve" />
																	</s:restriction>
																</s:simpleType>
															</s:element>
															<s:element name="NUM_SEC_AC" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:integer">
																		<s:maxInclusive value="9999999999" />
																		<s:minInclusive value="0" />
																	</s:restriction>
																</s:simpleType>
															</s:element>
															<s:element name="ID_PDS" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:string">
																		<s:length value="0000000003" />
																		<s:whiteSpace value="preserve" />
																	</s:restriction>
																</s:simpleType>
															</s:element>
															<s:element name="ID_PARMCD" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:string">
																		<s:length value="0000000003" />
																		<s:whiteSpace value="preserve" />
																	</s:restriction>
																</s:simpleType>
															</s:element>
															<s:element name="FECHA_INIC_VAL" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:integer">
																		<s:maxInclusive value="99999999" />
																		<s:minInclusive value="0" />
																	</s:restriction>
																</s:simpleType>
															</s:element>
														</s:sequence>
													</s:complexType>
												</s:element>
												<s:element name="FECHA_CNS_V" nillable="false">
													<s:complexType mixed="false">
														<s:sequence>
															<s:element name="STD_FECHA" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:integer">
																		<s:maxInclusive value="99999999" />
																		<s:minInclusive value="0" />
																	</s:restriction>
																</s:simpleType>
															</s:element>
														</s:sequence>
													</s:complexType>
												</s:element>
												<s:element name="COD_ECV_CNS_V" nillable="false">
													<s:complexType mixed="false">
														<s:sequence>
															<s:element name="STD_CHAR_01" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:string">
																		<s:length value="0000000001" />
																		<s:whiteSpace value="preserve" />
																	</s:restriction>
																</s:simpleType>
															</s:element>
														</s:sequence>
													</s:complexType>
												</s:element>
												<s:element name="KA_AUX_V" nillable="false">
													<s:complexType mixed="false">
														<s:sequence>
															<s:element name="NUM_SUBAC" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:integer">
																		<s:maxInclusive value="9999999" />
																		<s:minInclusive value="0" />
																	</s:restriction>
																</s:simpleType>
															</s:element>
															<s:element name="NUM_TRAMO" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:integer">
																		<s:maxInclusive value="9999" />
																		<s:minInclusive value="0" />
																	</s:restriction>
																</s:simpleType>
															</s:element>
															<s:element name="ID_TRAMEADO" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:string">
																		<s:length value="0000000010" />
																		<s:whiteSpace value="preserve" />
																	</s:restriction>
																</s:simpleType>
															</s:element>
															<s:element name="FECHA_INIC_VAL_1" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:integer">
																		<s:maxInclusive value="99999999" />
																		<s:minInclusive value="0" />
																	</s:restriction>
																</s:simpleType>
															</s:element>
															<s:element name="NUM_SEC" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:integer">
																		<s:maxInclusive value="9999999" />
																		<s:minInclusive value="0" />
																	</s:restriction>
																</s:simpleType>
															</s:element>
														</s:sequence>
													</s:complexType>
												</s:element>
											</s:sequence>
										</s:complexType>
									</s:element>
									<s:element name="STD_TRN_I_PARM_V" nillable="false">
										<s:complexType mixed="false">
											<s:sequence>
												<s:element name="ID_INTERNO_TERM_TN" nillable="false">
													<s:simpleType>
														<s:restriction base="s:string">
															<s:length value="0000000008" />
															<s:whiteSpace value="preserve" />
														</s:restriction>
													</s:simpleType>
												</s:element>
												<s:element name="ID_EMPL_AUT" nillable="false">
													<s:simpleType>
														<s:restriction base="s:string">
															<s:length value="0000000008" />
															<s:whiteSpace value="preserve" />
														</s:restriction>
													</s:simpleType>
												</s:element>
												<s:element name="NUM_SEC" nillable="false">
													<s:simpleType>
														<s:restriction base="s:integer">
															<s:maxInclusive value="9999999" />
															<s:minInclusive value="0" />
														</s:restriction>
													</s:simpleType>
												</s:element>
												<s:element name="COD_TX" nillable="false">
													<s:simpleType>
														<s:restriction base="s:string">
															<s:length value="0000000008" />
															<s:whiteSpace value="preserve" />
														</s:restriction>
													</s:simpleType>
												</s:element>
												<s:element name="COD_TX_DI" nillable="false">
													<s:simpleType>
														<s:restriction base="s:string">
															<s:length value="0000000004" />
															<s:whiteSpace value="preserve" />
														</s:restriction>
													</s:simpleType>
												</s:element>
											</s:sequence>
										</s:complexType>
									</s:element>
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="EjecutarResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="EjecutarResult"
							type="tns:EjecutarResult" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="EjecutarResult">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="TRANID"
						type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="ESTATUS"
						type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="CODIGO"
						type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="MENSAJE"
						type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="NUMTASK"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="ResponseBansefi"
						type="tns:ResponseBansefi" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ResponseBansefi">
				<s:sequence>
					<s:element name="OTR_CONS_VAL_KA_RNG_TRN_O" nillable="false">
						<s:complexType mixed="false">
							<s:sequence>
								<s:element name="RTRN_CD" nillable="false">
									<s:simpleType>
										<s:restriction base="s:integer">
											<s:maxInclusive value="9999" />
											<s:minInclusive value="0" />
										</s:restriction>
									</s:simpleType>
								</s:element>
								<s:element name="TR_CONS_VAL_KA_RNG_EVT_Z" nillable="false">
									<s:complexType mixed="false">
										<s:sequence>
											<s:element name="KA_COMUN_V" nillable="false">
												<s:complexType mixed="false">
													<s:sequence>
														<s:element name="FECHA_CRRE_VAL" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="99999999" />
																	<s:minInclusive value="0" />
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_ECV_KA" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001" />
																	<s:whiteSpace value="preserve" />
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="FECHA_ECV_ACT" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="99999999" />
																	<s:minInclusive value="0" />
																</s:restriction>
															</s:simpleType>
														</s:element>
													</s:sequence>
												</s:complexType>
											</s:element>
											<s:element name="ID_CCPS_1_V" nillable="false">
												<s:complexType mixed="false">
													<s:sequence>
														<s:element name="ID_CCPS" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000003" />
																	<s:whiteSpace value="preserve" />
																</s:restriction>
															</s:simpleType>
														</s:element>
													</s:sequence>
												</s:complexType>
											</s:element>
											<s:element name="KA_ESTRCT_RNG_V" nillable="false">
												<s:complexType mixed="false">
													<s:sequence>
														<s:element name="RNG_PREF" nillable="false">
															<s:simpleType>
																<s:restriction base="s:decimal">
																	<s:totalDigits value="0000000014" />
																	<s:fractionDigits value="02" />
																	<s:maxInclusive value="999999999999.99" />
																	<s:minInclusive value="0" />
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="RNG_MIN" nillable="false">
															<s:simpleType>
																<s:restriction base="s:decimal">
																	<s:totalDigits value="0000000014" />
																	<s:fractionDigits value="02" />
																	<s:maxInclusive value="999999999999.99" />
																	<s:minInclusive value="0" />
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="RNG_MAX" nillable="false">
															<s:simpleType>
																<s:restriction base="s:decimal">
																	<s:totalDigits value="0000000014" />
																	<s:fractionDigits value="02" />
																	<s:maxInclusive value="999999999999.99" />
																	<s:minInclusive value="0" />
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="RNG_INCREM" nillable="false">
															<s:simpleType>
																<s:restriction base="s:decimal">
																	<s:totalDigits value="0000000014" />
																	<s:fractionDigits value="02" />
																	<s:maxInclusive value="999999999999.99" />
																	<s:minInclusive value="0" />
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_UM" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001" />
																	<s:whiteSpace value="preserve" />
																</s:restriction>
															</s:simpleType>
														</s:element>
													</s:sequence>
												</s:complexType>
											</s:element>
											<s:element name="KA_ECV_V" nillable="false">
												<s:complexType mixed="false">
													<s:sequence>
														<s:element name="COD_TX" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000008" />
																	<s:whiteSpace value="preserve" />
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="ID_EMPL_AUT" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000008" />
																	<s:whiteSpace value="preserve" />
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="ID_INTERNO_EMPL_EP" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000008" />
																	<s:whiteSpace value="preserve" />
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_INTERNO_UO" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000004" />
																	<s:whiteSpace value="preserve" />
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="FECHA_OPRCN" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="99999999" />
																	<s:minInclusive value="0" />
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="HORA_OPRCN" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="99999999" />
																	<s:minInclusive value="0" />
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="ID_INTERNO_TERM_TN" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000008" />
																	<s:whiteSpace value="preserve" />
																</s:restriction>
															</s:simpleType>
														</s:element>
													</s:sequence>
												</s:complexType>
											</s:element>
										</s:sequence>
									</s:complexType>
								</s:element>
								<s:element name="STD_TRN_MSJ_PARM_V" nillable="false"
									maxOccurs="00005">
									<s:complexType mixed="false">
										<s:sequence>
											<s:element name="TEXT_CODE" nillable="false">
												<s:simpleType>
													<s:restriction base="s:integer">
														<s:maxInclusive value="9999" />
														<s:minInclusive value="0" />
													</s:restriction>
												</s:simpleType>
											</s:element>
											<s:element name="TEXT_ARG1" nillable="false">
												<s:simpleType>
													<s:restriction base="s:string">
														<s:length value="0000000018" />
														<s:whiteSpace value="preserve" />
													</s:restriction>
												</s:simpleType>
											</s:element>
										</s:sequence>
									</s:complexType>
								</s:element>
								<s:element name="STD_TRN_O_PARM_V" nillable="false">
									<s:complexType mixed="false">
										<s:sequence>
											<s:element name="FECHA_OPRCN" nillable="false">
												<s:simpleType>
													<s:restriction base="s:integer">
														<s:maxInclusive value="99999999" />
														<s:minInclusive value="0" />
													</s:restriction>
												</s:simpleType>
											</s:element>
											<s:element name="HORA_OPRCN" nillable="false">
												<s:simpleType>
													<s:restriction base="s:integer">
														<s:maxInclusive value="99999999" />
														<s:minInclusive value="0" />
													</s:restriction>
												</s:simpleType>
											</s:element>
										</s:sequence>
									</s:complexType>
								</s:element>
							</s:sequence>
						</s:complexType>
					</s:element>
				</s:sequence>
			</s:complexType>
			<s:element name="EjecutarResult" type="tns:EjecutarResult" />
		</s:schema>
	</wsdl:types>
	<wsdl:message name="EjecutarSoapIn">
		<wsdl:part name="parameters" element="tns:Ejecutar" />
	</wsdl:message>
	<wsdl:message name="EjecutarSoapOut">
		<wsdl:part name="parameters" element="tns:EjecutarResponse" />
	</wsdl:message>
	<wsdl:portType name="SoapPort">
		<wsdl:operation name="Ejecutar">
			<wsdl:input message="tns:EjecutarSoapIn" />
			<wsdl:output message="tns:EjecutarSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SoapBinding" type="tns:SoapPort">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Ejecutar">
			<soap:operation
				soapAction="http://BansefiNSS/WebServicesNSS/TR_CONS_VAL_KA_RNG_TRN/Ejecutar"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TR_CONS_VAL_KA_RNG_TRN">
		<wsdl:port name="SoapPort" binding="tns:SoapBinding">
			<soap:address
				location="http://10.200.14.125:3301/WebServicesNSS/BANSEFI/TR_CONS_VAL_KA_RNG_TRN" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>