wsServer/WebContent/WEB-INF/wsdl/TR_PE_CONS_INDV_TRN.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://BansefiNSS/WebServicesNSS/TR_PE_CONS_INDV_TRN" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://BansefiNSS/WebServicesNSS/TR_PE_CONS_INDV_TRN" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://BansefiNSS/WebServicesNSS/TR_PE_CONS_INDV_TRN">
			<s:element name="Ejecutar">
				<s:complexType>
					<s:sequence>
						<s:element name="TR_PE_CONS_INDV_TRN_I" nillable="false">
							<s:complexType mixed="false"> 
								<s:sequence>
									<s:element name="TR_PE_CONS_INDV_EVT_Y" nillable="false">
										<s:complexType mixed="false">
											<s:sequence>
												<s:element name="PE_PERS_P" nillable="false">
													<s:complexType mixed="false">
														<s:sequence>
															<s:element name="COD_NRBE_EN" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:string">
																		<s:length value="0000000004"/>
																		<s:whiteSpace value="preserve"/>
																	</s:restriction>
																</s:simpleType>
															</s:element>
															<s:element name="ID_INTERNO_PE" nillable="false">
																<s:simpleType>
																	<s:restriction base="s:integer">
																		<s:maxInclusive value="99999999"/>
																		<s:minInclusive value="0"/>
																	</s:restriction>
																</s:simpleType>
															</s:element>
														</s:sequence>
													</s:complexType>
												</s:element>
											</s:sequence>
										</s:complexType>
									</s:element>
									<s:element name="STD_TRN_I_PARM_V" nillable="false">
										<s:complexType mixed="false">
											<s:sequence>
												<s:element name="ID_INTERNO_TERM_TN" nillable="false">
													<s:simpleType>
														<s:restriction base="s:string">
															<s:length value="0000000008"/>
															<s:whiteSpace value="preserve"/>
														</s:restriction>
													</s:simpleType>
												</s:element>
												<s:element name="ID_EMPL_AUT" nillable="false">
													<s:simpleType>
														<s:restriction base="s:string">
															<s:length value="0000000008"/>
															<s:whiteSpace value="preserve"/>
														</s:restriction>
													</s:simpleType>
												</s:element>
												<s:element name="NUM_SEC" nillable="false">
													<s:simpleType>
														<s:restriction base="s:integer">
															<s:maxInclusive value="9999999"/>
															<s:minInclusive value="0"/>
														</s:restriction>
													</s:simpleType>
												</s:element>
												<s:element name="COD_TX" nillable="false">
													<s:simpleType>
														<s:restriction base="s:string">
															<s:length value="0000000008"/>
															<s:whiteSpace value="preserve"/>
														</s:restriction>
													</s:simpleType>
												</s:element>
												<s:element name="COD_TX_DI" nillable="false">
													<s:simpleType>
														<s:restriction base="s:string">
															<s:length value="0000000004"/>
															<s:whiteSpace value="preserve"/>
														</s:restriction>
													</s:simpleType>
												</s:element>
											</s:sequence>
										</s:complexType>
									</s:element>
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="EjecutarResponse">
				<s:complexType>
					<s:sequence>
						<s:element name="EjecutarResult" type="tns:EjecutarResult" maxOccurs="1" minOccurs="0" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="EjecutarResult">
				<s:sequence>
					<s:element name="ResponseBansefi" type="tns:ArrayOfResponseBansefi" maxOccurs="1" minOccurs="0" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfResponseBansefi">
				<s:sequence>
					<s:element name="ResponseBansefi" type="tns:ResponseBansefi" maxOccurs="unbounded" minOccurs="0" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ResponseBansefi">
				<s:sequence>
					<s:element name="TR_PE_CONS_INDV_TRN_O" nillable="false">
						<s:complexType mixed="false">
							<s:sequence>
								<s:element name="RTRN_CD" nillable="false">
									<s:simpleType>
										<s:restriction base="s:integer">
											<s:maxInclusive value="9999"/>
											<s:minInclusive value="0"/>
										</s:restriction>
									</s:simpleType>
								</s:element>
								<s:element name="TR_PE_CONS_INDV_EVT_Z" nillable="false">
									<s:complexType mixed="false">
										<s:sequence>
											<s:element name="PE_CONS_INDV_OBJ_TRD_V" nillable="false">
												<s:complexType mixed="false">
													<s:sequence>
														<s:element name="COD_NRBE_EN" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000004"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="ID_INTERNO_PE" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="99999999"/>
																	<s:minInclusive value="0"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_ID_EXT_PERS" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000002"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="ID_EXT_PE" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000014"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="NOMB_50" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000050"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="FECHA_ALTA_PER" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="99999999"/>
																	<s:minInclusive value="0"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="SIT_RESDNC_PE" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_PE" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IND_LDER_OPNN_PE" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IND_AVISO_PE" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IND_ANTCN_PE" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IND_PERTN_GRP_PE" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IND_PUBLCD_PE" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IND_ACCESO_RSTRG" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="FEC_NCTO_CONST_PE" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="99999999"/>
																	<s:minInclusive value="0"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="FECHA_FALL_CRRE_PE" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="99999999"/>
																	<s:minInclusive value="0"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_RZN_ALTA_PERS" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000002"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_IDIOM_PERS" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000002"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_TRATMTO_PERS" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000002"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_CNAE_PERS" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000007"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_SIT_ECON_PERS" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_SIT_IRREG" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_OFCNA_ALTA" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000004"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_OFCNA_CORR" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000004"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IND_CORREO_OFCNA" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IND_NO_DOCUM" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IND_CLIENTE" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IND_OFERTAS" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IND_OTR_RL" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IND_PERTN_LST_NGR" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IND_CLIENT_ESQV_CL" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IND_CLIENT_PRSPCTV" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IND_CLIENT_RCHZD" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IND_SOCIO_PE" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IND_MAS_GT" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IND_MAS_DIR" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="NUM_DIR_PRAL" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="99999999"/>
																	<s:minInclusive value="0"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_ENT_COLEC_AG" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000002"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_ENT_SING_AG" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000002"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_MUNICIPIO_AG" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000003"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_PAIS_NACTO" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000003"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_PAIS_NAL" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000003"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_PAIS_RES" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000003"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_PROVINCIA_AG" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000002"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_EST_LAB_INDV" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000002"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_EST_CIVIL_INDV" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000002"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_RGMN_MATRIM_IN" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_CPCDAD_LGL_IN" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_EMPL_INDV" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_CNO_INDV" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000006"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="NOMB_IN_NOMB_PILA" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000030"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="NOMB_IN_APE_1_IN" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000030"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="NOMB_IN_APE_2_IN" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000030"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="SEXO_IN" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="NUM_HIJOS_IN" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="9999"/>
																	<s:minInclusive value="0"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IND_EMPLD_IN" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IND_CTLVIV_IN" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IND_CONSJ_IN" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IND_ALTO_CARGO_IN" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IND_GESTOR" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="FECHA_AUTNMO_IN" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="99999999"/>
																	<s:minInclusive value="0"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IND_AUTNMO_IN" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="FECHA_INIC_CRT" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="99999999"/>
																	<s:minInclusive value="0"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="FECHA_FIN_CRT" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="99999999"/>
																	<s:minInclusive value="0"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="NUM_AR_GEO" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="99999999"/>
																	<s:minInclusive value="0"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="NOMB_LOCALIDAD_AG" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000045"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="NOMB_PROVINCIA_AG" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000035"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="NOMB_PAIS_AG" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000035"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_PAIS_AG" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000003"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="NOMB_COM_AUTNMA_AG" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000025"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_COM_AUTNMA_AG" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000002"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="FEC_REV_CTLVIV_IN" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="99999999"/>
																	<s:minInclusive value="0"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="ID_RFC" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000013"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="ID_CURP" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000018"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IND_AUT_MOD_PERS" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
													</s:sequence>
												</s:complexType>
											</s:element>
											<s:element name="EP_ATRIB_PERF_TRAN_V" nillable="false">
												<s:complexType mixed="false">
													<s:sequence>
														<s:element name="IND_AUT_BAJO_RSGO" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IND_AUT_MEDIO_RSGO" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="IND_AUT_ALTO_RSGO" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
													</s:sequence>
												</s:complexType>
											</s:element>
										</s:sequence>
									</s:complexType>
								</s:element>
								<s:element name="STD_TRN_MSJ_PARM_V" nillable="false" maxOccurs="00005">
									<s:complexType mixed="false">
										<s:sequence>
											<s:element name="TEXT_CODE" nillable="false">
												<s:simpleType>
													<s:restriction base="s:integer">
														<s:maxInclusive value="9999"/>
														<s:minInclusive value="0"/>
													</s:restriction>
												</s:simpleType>
											</s:element>
											<s:element name="TEXT_ARG1" nillable="false">
												<s:simpleType>
													<s:restriction base="s:string">
														<s:length value="0000000018"/>
														<s:whiteSpace value="preserve"/>
													</s:restriction>
												</s:simpleType>
											</s:element>
										</s:sequence>
									</s:complexType>
								</s:element>
								<s:element name="STD_TRN_O_PARM_V" nillable="false">
									<s:complexType mixed="false">
										<s:sequence>
											<s:element name="FECHA_OPRCN" nillable="false">
												<s:simpleType>
													<s:restriction base="s:integer">
														<s:maxInclusive value="99999999"/>
														<s:minInclusive value="0"/>
													</s:restriction>
												</s:simpleType>
											</s:element>
											<s:element name="HORA_OPRCN" nillable="false">
												<s:simpleType>
													<s:restriction base="s:integer">
														<s:maxInclusive value="99999999"/>
														<s:minInclusive value="0"/>
													</s:restriction>
												</s:simpleType>
											</s:element>
										</s:sequence>
									</s:complexType>
								</s:element>
								<s:element name="STD_AN_AV_MSJ_V" nillable="false">
									<s:complexType mixed="false">
										<s:sequence>
											<s:element name="AN_NUM_ANOTACIONES_V" nillable="false">
												<s:complexType mixed="false">
													<s:sequence>
														<s:element name="STD_DEC_3" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="999"/>
																	<s:minInclusive value="0"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
													</s:sequence>
												</s:complexType>
											</s:element>
											<s:element name="STD_AN_AV_MSJ_LS" nillable="false" maxOccurs="00005">
												<s:complexType mixed="false">
													<s:sequence>
														<s:element name="NUMERO_ANTCN" nillable="false">
															<s:simpleType>
																<s:restriction base="s:integer">
																	<s:maxInclusive value="999999999999999"/>
																	<s:minInclusive value="0"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="COD_ANTCN" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="DESCRIP_ANTCN_V" nillable="false">
															<s:complexType mixed="false">
																<s:sequence>
																	<s:element name="STD_CHAR_11" nillable="false">
																		<s:simpleType>
																			<s:restriction base="s:string">
																				<s:length value="0000000011"/>
																				<s:whiteSpace value="preserve"/>
																			</s:restriction>
																		</s:simpleType>
																	</s:element>
																</s:sequence>
															</s:complexType>
														</s:element>
														<s:element name="IND_PRDAD" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000001"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="DESC_IND_PRDAD_V" nillable="false">
															<s:complexType mixed="false">
																<s:sequence>
																	<s:element name="STD_CHAR_07" nillable="false">
																		<s:simpleType>
																			<s:restriction base="s:string">
																				<s:length value="0000000007"/>
																				<s:whiteSpace value="preserve"/>
																			</s:restriction>
																		</s:simpleType>
																	</s:element>
																</s:sequence>
															</s:complexType>
														</s:element>
														<s:element name="SUBCD_ANTCN" nillable="false">
															<s:simpleType>
																<s:restriction base="s:string">
																	<s:length value="0000000002"/>
																	<s:whiteSpace value="preserve"/>
																</s:restriction>
															</s:simpleType>
														</s:element>
														<s:element name="STD_DESCR_C_ANTCN_V" nillable="false">
															<s:complexType mixed="false">
																<s:sequence>
																	<s:element name="STD_CHAR_30" nillable="false">
																		<s:simpleType>
																			<s:restriction base="s:string">
																				<s:length value="0000000030"/>
																				<s:whiteSpace value="preserve"/>
																			</s:restriction>
																		</s:simpleType>
																	</s:element>
																</s:sequence>
															</s:complexType>
														</s:element>
													</s:sequence>
												</s:complexType>
											</s:element>
										</s:sequence>
									</s:complexType>
								</s:element>
							</s:sequence>
						</s:complexType>
					</s:element>
				</s:sequence>
			</s:complexType>
			<s:element name="EjecutarResult" type="tns:EjecutarResult"/>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="EjecutarSoapIn">
		<wsdl:part name="parameters" element="tns:Ejecutar" />
	</wsdl:message>
	<wsdl:message name="EjecutarSoapOut">
		<wsdl:part name="parameters" element="tns:EjecutarResponse" />
	</wsdl:message>
	<wsdl:portType name="SoapPort">
		<wsdl:operation name="Ejecutar">
			<wsdl:input message="tns:EjecutarSoapIn" />
			<wsdl:output message="tns:EjecutarSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SoapBinding" type="tns:SoapPort">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Ejecutar">
			<soap:operation soapAction="http://10.200.14.110:3300/WebServicesNSS/TR_PE_CONS_INDV_TRN/Ejecutar" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TR_PE_CONS_INDV_TRN">
		<wsdl:port name="SoapPort" binding="tns:SoapBinding">
			<soap:address location="http://10.200.14.110:3300/WebServicesNSS/TR_PE_CONS_INDV_TRN"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>