wsServer/WebContent/WEB-INF/wsdl/VTUNICSA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://10.200.14.110:3095/WebServices/VTUNICSA" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://10.200.14.110:3095/WebServices/VTUNICSA" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://10.200.14.110:3095/WebServices/VTUNICSA">
			<s:element name="Ejecutar">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name ="USERHEADER" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name ="PASSHEADER" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name ="IPHEADER" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name ="ENTIDAD" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name ="ACUERDO" type="s:integer" />
						<s:element minOccurs="1" maxOccurs="1" name ="CVEIDOF" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name ="NUMIFE" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="EjecutarResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="EjecutarResult" type = "tns:EjecutarResult" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name ="EjecutarResult">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="TRANID" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="ESTATUS" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="CODIGO" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="MENSAJE" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="NUMTASK" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="ResponseBansefi" type="tns:ResponseBansefi" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ResponseBansefi" >
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1"  name ="TITULAR" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"  name ="SALDO_CONTABLE" type="s:decimal" />
					<s:element minOccurs="0" maxOccurs="1"  name ="TOTAL_RETENIDO" type="s:decimal" />
					<s:element minOccurs="0" maxOccurs="1"  name ="TOTAL_AUTORIZADO" type="s:decimal" />
					<s:element minOccurs="0" maxOccurs="1"  name ="DISPONIBLE" type="s:decimal" />
					<s:element minOccurs="0" maxOccurs="1"  name ="CENTRO" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"  name ="DC" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"  name ="MONEDA" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:element name="EjecutarResult" type="tns:EjecutarResult"/>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="EjecutarSoapIn">
		<wsdl:part name="parameters" element="tns:Ejecutar" />
	</wsdl:message>
	<wsdl:message name="EjecutarSoapOut">
		<wsdl:part name="parameters" element="tns:EjecutarResponse" />
	</wsdl:message>
	<wsdl:portType name="SoapPort">
		<wsdl:operation name="Ejecutar">
			<wsdl:input message="tns:EjecutarSoapIn" />
			<wsdl:output message="tns:EjecutarSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SoapBinding" type="tns:SoapPort">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Ejecutar">
			<soap:operation soapAction="http://10.200.14.110:3095/WebServices/VTUNICSA/Ejecutar" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="VTUNICSA">
		<wsdl:port name="SoapPort" binding="tns:SoapBinding">
			<soap:address location="http://10.200.14.110:3095/WebServices/BANSEFI/VTUNICSA"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>